#{"AI"
  "AG"
  "AR"
  "AW"
  "BS"
  "BB"
  "BZ"
  "BM"
  "BO"
  "BQ"
  "BR"
  "CA"
  "KY"
  "CL"
  "CO"
  "CR"
  "CU"
  "CW"
  "DM"
  "DO"
  "EC"
  "SV"
  "GF"
  "GD"
  "GP"
  "GT"
  "GY"
  "HT"
  "HN"
  "JM"
  "MQ"
  "MX"
  "MS"
  "NI"
  "PA"
  "PY"
  "PE"
  "PR"
  "BL"
  "KN"
  "LC"
  "MF"
  "PM"
  "VC"
  "SX"
  "SR"
  "TT"
  "TC"
  "US"
  "UY"
  "VE"
  "VG"
  "VI"}
