#{"AS"
  "AQ"
  "AU"
  "BD"
  "BT"
  "IO"
  "BN"
  "KH"
  "CN"
  "CX"
  "CC"
  "CK"
  "FJ"
  "PF"
  "TF"
  "GU"
  "HM"
  "HK"
  "IN"
  "ID"
  "JP"
  "KI"
  "KG"
  "LA"
  "MO"
  "MY"
  "MV"
  "MH"
  "FM"
  "MN"
  "MM"
  "NR"
  "NP"
  "NC"
  "NZ"
  "NU"
  "NF"
  "MP"
  "PK"
  "PW"
  "PG"
  "PH"
  "PN"
  "WS"
  "SG"
  "SB"
  "SS"
  "LK"
  "TW"
  "TJ"
  "TH"
  "TL"
  "TK"
  "TO"
  "TM"
  "TV"
  "UM"
  "UZ"
  "VU"
  "VN"
  "WF"}
